{% extends "layout.html" %}

{% block navigation_bar %}
    {{ super() }}
    <a class="nav-item nav-link" href="/login">Login</a>
    <a class="nav-item nav-link" href="/register">Register</a>
{% endblock %}

{% block content %}
    <h2>{{ subtitle[0] }}</h2>
    <p>{{ text[0] }}</p>
    <hr>
    
    <h3>{{ subtitle[1] }}</h3>
    <p>{{ text[1] }}</p>
    <hr>
    
    <h3>{{ subtitle[2] }}</h3>
    <p>{{ text[2] }} {{ text[3] }}<br> {{ text[4] }}</p>
    <hr>
    
    <h3>{{ subtitle[3] }}</h3>
    <pre>{{ text[5] }} </pre>
    <img src='{{image}}'/>
{% endblock content %}